In [10]:
import pandas as pd
from scraper import get_single
from indicators import MACD

In [8]:
df = pd.DataFrame(get_single(ticker='AMZN'))
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-09-15,172.126007,174.270996,170.100494,173.789505,173.789505,59150000
2021-09-16,172.998001,174.627502,172.307007,174.412003,174.412003,51672000
2021-09-17,174.420502,174.870499,172.606506,173.126007,173.126007,92332000
2021-09-20,169.800003,170.949997,165.250504,167.786499,167.786499,93382000
2021-09-21,168.750000,168.985001,166.619507,167.181503,167.181503,55618000

In [13]:
MACD_DF = MACD(df)
MACD_DF.tail()

,Open,High,Low,Close,Adj Close,Volume,MACD,Signal
Date,,,,,,,,
2022-09-08,127.720001,130.279999,127.099998,129.820007,129.820007,43988500,-0.770543,0.531022
2022-09-09,130.910004,133.690002,130.759995,133.270004,133.270004,49387600,-0.485675,0.327682
2022-09-12,134.100006,136.490005,134.000000,136.449997,136.449997,53826900,-0.003279,0.261490
2022-09-13,131.009995,131.399994,126.269997,126.820000,126.820000,72694000,-0.393500,0.130492
2022-09-14,127.360001,128.839996,126.330002,128.550003,128.550003,45316800,-0.556739,-0.006954